# API
TZ='America/Sao_Paulo'

# DATABASE
DATABASE_URL=''
DATABASE_URL_MIGRATION=''

# JWT
JWT_SECRET=''
JWT_ALGORITHM=''
JWT_EXPIRES_IN=''

# NODEMAILER
NODEMAILER_EMAIL=''
NODEMAILER_PASSWORD=''
NODEMAILER_SERVICE=''
NODEMAILER_HOST=''
NODEMAILER_NAME=''

# AZURE BLOB
AZ_BLOB_ACCOUNT_NAME=""
AZ_BLOB_ACCOUNT_KEY=""
AZ_BLOB_CONTAINER_NAME=""
